<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head th:replace="fragments/layout :: head('Shipping - Big5 Shop')"></head>

<style>
    .breadcrumb-item + .breadcrumb-item::before{
    content: ">";
    color:#6c757d;
    }
</style>


<!--http://localhost:8080/checkout-->
<!--http://localhost:8080/test-login-->
<body>
<div class="container py-5">
    <h1 class="fw-light text-center mb-5" style="color: #8190A5;">Checkout</h1>
    <hr class="mt-2">

    <div class="row">

        <!--Shipping Address (Left Panel)-->
        <div class="col-md-8 bg-light p-4 rounded border border-secondary">

            <!--Breadcrumb-->
            <nav aria-label="breadcrumb" class="mb-4">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/cart.html">Shipping</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Payment</li>
                </ol>
            </nav>

            <h3 class="mb-4 fw-light">Shipping Address</h3>

            <!--Shipping Address detail section-->
            <form method="post" th:action="@{/checkout}">
                <div class = "row">
                    <!--First & Last Name -->
                    <div class = "col-md-6 mb-3">
                        <label for="firstName" class="form-label fw-light">First name*</label>
                        <input type="text" class="form-control" id="firstName" name="firstName" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName" class="form-label">Last name*</label>
                        <input type="text" class="form-control" id="lastName" name="lastName" required>
                    </div>

                    <!--Street Address-->
                    <div class="mb-3">
                        <label for="streetAddress" class="form-label">Street Address*</label>
                        <input type="text" class="form-control" id="streetAddress" name="streetAddress" required>
                    </div>

                    <!--Apartment (Optional) -->
                    <div class="mb-3">
                        <label for="aptSuite" class="form-label">Apt, suite, unit, etc</label>
                        <input type="text" class="form-control" id="aptSuite" name="aptSuite">
                    </div>

                    <div class = "row">
                        <!--city, state, zip code-->
                        <div class = "col-md-6 mb-3">
                            <label for="city" class="form-label">City*</label>
                            <input type="text" class="form-control" id="city" name="city" required>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="state" class="form-label">State*</label>
                            <input type="text" class="form-control" id="state" name="state" required>
                        </div>
                        <div class="col-md-2 mb-3">
                            <label for="zipCode" class="form-label">Zip Code*</label>
                            <input type="text" class="form-control" id="zipCode" name="zipCode" required>
                        </div>
                    </div>

                    <!--Shipping Method-->

                    <h3 class="mb-3 fw-light">Shipping Method</h3>

                    <!--Ground Shipping Option-->
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="border rounded p-3 d-flex align-items-center">
                                <input class="form-check-input me-3 mt-1" type="radio" name="shippingMethod" value="Ground" id="ground" required>
                                <div class="flex-grow-1 d-flex justify-content-between">
                                    <div>
                                        <label class="fw-light d-block mb-1" for="ground">Ground</label>
                                        <small class="text-muted">7-14 days</small>
                                    </div>
                                    <div>
                                        <span class="fw-light">Free</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Overnight-->
                        <div class="col-md-6">
                            <div class="border rounded p-3 d-flex align-items-center">
                                <input class="form-check-input me-3 mt-1" type="radio" name="shippingMethod" value="Overnight" id="overnight">
                                <div class="flex-grow-1 d-flex justify-content-between">
                                    <div>
                                        <label class="fw-light d-block mb-1" for="overnight">Overnight</label>
                                        <small class="text-muted">1 day</small>
                                    </div>
                                    <div>
                                        <span class="fw-light">$29</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--3 Day Shipping-->
                    <div class="row g-3 mt-3">
                        <div class="col-md-6">
                            <div class="border rounded p-3 d-flex align-items-center">
                                <input class="form-check-input me-3 mt-1" type="radio" name="shippingMethod" value="3-Day" id="3-day">
                                <div class="flex-grow-1 d-flex justify-content-between">
                                    <div>
                                        <label class="fw-light d-block mb-1" for="3-day">3-Day</label>
                                        <small class="text-muted">3 days</small>
                                    </div>
                                    <div>
                                        <span class="fw-light">$19</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
    <div th:replace="fragments/layout :: footer"></div>
    <div th:replace="fragments/layout :: scripts"></div>
</body>
</html>