<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head('Big5 Shop - Home')"></head>
<body>

<div th:replace="fragments/layout :: header"></div>

<main>
    <div class="container-fluid py-5" style="background-color: #C2B6E1;">
        <div class="row align-items-center">
            <div class="col-12 col-sm-12 col-md-5 col-lg-5" style="padding-left: 11rem;">
                <h1 class="display-1 fw-bold text-white">ONLINE<br>SHOPPING</h1>
                <a th:href="@{/items}" class="btn fw-bold text-white rounded-pill px-4 py-2 fs-5" style="background-color: #AFBFEF;">SHOP NOW</a>
            </div>
            <div class="col-4 col-sm-4 col-md-2 col-lg-2 text-center">
                <img th:src="@{/pictures/steve.png}" class="img-fluid" alt="Steve from Minecraft">
            </div>
            <div class="col-4 col-sm-4 col-md-2 col-lg-2 text-center">
                <img th:src="@{/pictures/pika.png}" class="img-fluid" alt="Pikachu">
            </div>
            <div class="col-4 col-sm-4 col-md-2 col-lg-2 text-center">
                <img th:src="@{/pictures/mario.png}" class="img-fluid" alt="Mario">
            </div>
        </div>
    </div>

    <div class="container-fluid py-5">
        <div class="row justify-content-center" style="column-gap: 40px">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <a th:href="@{/category/Pokémon}" class="text-decoration-none">
                    <div class="p-1 rounded bg-light shadow-sm" style="height: 150px;">
                        <div class="row">
                            <div class="col-12 col-sm-7 col-md-7">
                                <h3 class="fw-bold" style="color: #8190A5;">POKÉMON<br>COLLECTION</h3>
                            </div>
                            <div class="col-12 col-sm-5 col-md-5 text-end">
                                <img th:src="@{/pictures/pokeball1.png}" class="img-fluid" style="max-width: 135px;" alt="Pokéball">
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <a th:href="@{/category/Kirby}" class="text-decoration-none">
                    <div class="p-1 rounded bg-light shadow-sm" style="height: 150px;">
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-6">
                                <h3 class="fw-bold" style="color: #8190A5;">KIRBY<br>COLLECTION</h3>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 text-end">
                                <img th:src="@{/pictures/kirby.png}" class="img-fluid" style="max-width: 135px;" alt="Kirby">
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <a th:href="@{/category/Minecraft}" class="text-decoration-none">
                    <div class="p-1 rounded bg-light shadow-sm" style="height: 150px;">
                        <div class="row">
                            <div class="col-12 col-sm-7 col-md-7">
                                <h3 class="fw-bold" style="color: #8190A5;">MINECRAFT COLLECTION</h3>
                            </div>
                            <div class="col-12 col-sm-5 col-md-5 text-end">
                                <img th:src="@{/pictures/minecraft.png}" class="img-fluid" style="max-width: 130px;" alt="Minecraft block">
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</main>

<div th:replace="fragments/layout :: footer"></div>
<div th:replace="fragments/layout :: scripts"></div>

</body>
</html>
