<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head('Sales Report')"></head>
<body>

<div th:replace="fragments/layout :: header"></div>
<p class="fw-bold fs-4 text-center">Sales Report</p>

<div class="container-fluid">
    <table class="table table-center">
        <thead>
        <tr class="text-center table-primary">
            <th>Item</th>
            <th>Purchaser Name</th>
            <th>Purchaser Email</th>
            <th>Price</th>
            <th>Checkout Confirmation</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${#lists.isEmpty(items)}">
            <td colspan="4" class="text-center pt-1 pb-2">
                <div class="mb-2 text-center">
                    <i class="bi bi-cart-x text-muted" style="font-size: 11rem;"></i>
                </div>
                <div class="fw-bold mb-5" style="font-size: 25px;color: #595C5F;">
                    There are no items in your cart.
                </div>
            </td>
        </tr>
        <th:block th:each="cartItem : ${cartItems}">
            <tr>
                <td>
                    <img th:src="@{'/pictures/' + ${cartItem.image}}" class="img-fluid" style="max-width: 100px;"
                         th:alt="${cartItem.name}">
                    <div th:text="${cartItem.name}">Item Name</div>
                </td>
                <td>
                    <input type="number" class="form-control" th:value="${item.quantity}" min="1" style="width: 80px;margin-top: 35px" disabled>
                </td>
                <td class="pt-5" th:text="${'$' + #numbers.formatDecimal(item.price, 1, 'COMMA', 2, 'POINT')}">$0.00</td>
                <td class="pt-5" th:text="${'$' + #numbers.formatDecimal(item.price * item.quantity, 1, 'COMMA', 2, 'POINT')}">$0.00</td>
            </tr>
            <tr>
                <td colspan="4" class="py-0"><hr class="mt-1"></td>
            </tr>
        </th:block>
            <td>
                <button type="button" class="btn btn-primary rounded-pill px-4 me-2 fw-bold">Checkout confirmation</button>
            </td>
        </tbody>
    </table>
</div>

<div class="container-fluid align-items-right">
    <a th:href="@{/admin/sales-report/download}" type="button" class="btn btn-primary rounded-pill px-4 me-2 fw-bold">Export to CSV</a>

</div>

<div th:replace="fragments/layout :: footer"></div>
<div th:replace="fragments/layout :: scripts"></div>
</body>
</html>